header {
    text-align: center;
  }

  header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
.issue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .issue-card {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    background-color: #f9f9f9;
  }
  .issue-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .issue-info {
    font-size: 14px;
    color: #666;
  }